#logo{
  width: 200px;
  justify-content: center;
}

#logo-text{
  padding-left: 5px;
  font-family: "Times New Roman", Georgia, Serif;
}


#user-image {
  margin-right: 10px;
}


.right.menu .item:hover {
  background-color: #dfdfdf;
}

